.todo{
    width: 600px;
    min-height: 732px;
    border-radius: 20px;
    background: #fff;
    margin: auto;
    margin-top: 174px;
    display: flex;
    flex-direction: column;
    padding: 0px 44px;
    padding-bottom: 30px;
    margin-bottom: 100px;
}
.todo-header{
    margin-top: 84px ;
    color: #002765;
    font-size: 36px;
    font-weight: 600;
    line-height: 34px;
}

.todo-add{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 20px;
}
.todo-input{
    border-radius: 50px;
    background: #edeef0;
    border: none;
    outline: none;
    width: 576px;
    height: 80px;
    padding-left: 35px;
    font-size: 20px;
}
.todo-add-button{
    border-radius: 50px;
    background: #ff6739;
    width: 187px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -100px;
    color: #fff;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
}


    /* Media Queries */
    @media only screen and (max-width: 768px) {
        .todo {
            width: 80%;
            max-width: 600px;
            margin-top: 100px;
            margin-bottom: 50px;
            min-height: 600px;
            /* border-radius: 0; */
            padding: 0 20px;
        }
    
        .todo-header {
            font-size: 28px;
            margin-top: 40px;
            padding-left: 10px;
        }
    
        .todo-input {
            justify-content: center;
            width: 60vw;
            height: 60px;
            margin: auto;
            border-radius: 30px;
            font-size: 16px;
        }
    
        .todo-add-button {
            width: 30%;
            height: 60px;
            margin-left: -20%;
            font-size: 40px;
            border-radius: 30px;
        }
    }
    @media only screen and (max-width: 576px) {
        .todo{
            min-height: 500px;
        }

    }
    
