.todoitems{
    display: flex;
    justify-content: space-between;
    padding: 16px 0px;
    border-bottom: #edeef0 solid 3px;
    /* border-top: #404040 solid 1px; */
    align-items: center;
}

.todoitems-container{
    display: flex;
    /* padding-bottom: 16px; */
    
}
.todoitems-text{
    padding-left: 10px;
    padding-right: 40px;
    margin:  auto;
    word-break:  break-all;
    padding-top: 2px;
    color: #404040;
    font-size: 18px;
    height: 38px;
    overflow-y: scroll;



}
.todoitems-cross-icon{
    cursor: pointer;
    padding-right: 25px;
    padding-top: 5px;
    align-self: center;
}

.line-through{
    text-decoration: line-through solid #adadad 3px;
}

@media screen and (max-width: 768px) {
    .todoitems{
        padding: 20px 0px;
        padding-left: 10px;
        margin: auto;
        justify-content: space-between;
align-items: center;
    }
    .todoitems-cross-icon{
        padding-right: 10px;
    }
    
}